<!-- templates/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header(title)">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${title}">タイトル</title>
</head>

<body>
    <header>
        <h1 th:text="${title}">タイトル</h1>
        <div class="loginUser">
            <p>
                <span th:text="${user.name}"></span> さん（ID: <span th:text="${user.id}"></span>）
            </p>
            <span th:text="${#temporals.format(loginTime, 'yyyy/MM/dd HH:mm:ss')}"></span>
            <span th:if="${user == null}">
                （未ログイン）
            </span>
        </div>
    </header>
</body>

</html>