<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
</head>
<body>
	<h2>社員情報登録</h2>
<form th:action="@{/register}" th:object="${user}" method="post">
    <label>名前*: <input type="text" th:field="*{name}"/></label><br>
    <label>年齢*: <input type="number" th:field="*{age}"/></label><br>
    <label>開始日*: <input type="date" th:field="*{day_start}"/></label><br>
    <label>終了日: <input type="date" th:field="*{day_end}"/></label><br>
    <label>パスワード*: <input type="password" th:field="*{password}"/></label><br>
    <label>パスワード確認*: <input type="password" name="confirmPassword"/></label><br>
    <button type="submit">登録</button>
</form>
<p th:text="${error}"></p>
</body>
</html>