<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header('更新画面(仮)')"></head>

<body>

  <form th:action="@{/update}" th:each="selectedUser : ${selectedUser}" method="post">
    ID: <p th:text="${id}"></p>
    氏名：<input type="text" th:field="*{selectedUser.name}" /><br>
    年齢：<input type="number" th:field="*{selectedUser.age}" /><br>
    開始日：<input type="text" th:field="*{selectedUser.day_start}" /><br>
    終了日：<input type="text" th:field="*{selectedUser.day_end}" /><br>
    <input type="submit" value="更新">
  </form>

  <div th:replace="footer :: footer"></div>

</body>

</html>